/* About */
.about {
  $radius: 20px;

  &__container {
    @include flex(40px, column);
  }

  &__description {
    letter-spacing: -0.1px; /* For Pixel Perfect */
  }

  &__images {
    display: grid;
    grid-template: auto auto auto / 1fr 1fr;
    gap: 40px;
  }

  &__image-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 660px;
    overflow: hidden;
    border-radius: $radius;

    &:first-child {
      grid-row: 1 / span 2;
      max-height: 590px;
    }

    &:last-child {
      grid-row: 2 / span 2;
      max-height: 590px;
    }

    &:nth-child(2) {
      max-height: 430px;
    }

    &:nth-child(3) {
      max-height: 430px;
    }
  }

  &__image {
    border-radius: $radius;
    transform: scale(1.1);

    @include for-desktop {
      transition: transform 0.5s ease-out;

      &:hover {
        transform: scale(1);
      }
    }
  }
}
