/* About */
.about {
  $radius: 20px;

  &__container {
    @include flex(40px, column);
  }

  &__images {
    display: grid;
    grid-template: auto auto auto / 1fr 1fr;
    gap: 40px;

    @include size-hide-elements {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 688px;
    overflow: hidden;
    border-radius: $radius;

    &:first-child {
      grid-row: 1 / span 2;
      max-height: 590px;
    }

    &:last-child {
      grid-row: 2 / span 2;
      max-height: 590px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      max-height: 430px;
      aspect-ratio: 66/43;

      @include size-hide-elements {
        display: none;
      }
    }
  }

  &__image {
    border-radius: $radius;
    transform: scale(1.1);

    @include size-hide-elements {
      /* stylelint-disable-next-line number-max-precision */
      transform: scale(1.055);
    }

    @include size-mobile {
      height: 590px;
      transform: scale(1.23);
    }

    @include hovered-devices {
      transition: transform 0.5s ease-out;

      &:hover {
        transform: scale(1);
      }
    }
  }
}
