/* Common */
@mixin font($size: 16px, $weight: 600, $style: normal) {
  font-family: var(--font);
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  font-feature-settings: "clig" off, "liga" off;
}

@mixin round-btn($brd-color) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var($brd-color);
  border-radius: 100px;
}

* {
  box-sizing: border-box;
}

body {
  @include font();
  color: var(--text-dark);
  background-color: var(--color-light);
}

h1,
h2,
h3,
p,
button,
figure {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  margin-bottom: 100px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: var(--text-dark);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.text-accent {
  font-style: italic;
  color: var(--text-accent);
  letter-spacing: 0; /* For Pixel Perfect */
}

.link-btn {
  min-width: 200px;
  padding: 20px;
  line-height: 150%; /* 24px */
  color: var(--text-dark);
  text-align: center;
  background: var(--color-light);
  border-radius: 100px;

  @include font();
}

.section__title {
  @include font(60px);
  line-height: 125%;
  color: var(--text-dark);
  text-align: center;
}
