/* Common */
@mixin font($size: 16px, $weight: 600, $style: normal) {
  font-family: var(--font);
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  font-feature-settings: "clig" off, "liga" off;
}

* {
  box-sizing: border-box;
}

body {
  @include font();
  color: var(--text-dark);
  background-color: var(--color-light);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: var(--text-dark);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.text-accent {
  font-style: italic;
  color: var(--text-accent);
}

.link-btn {
  min-width: 200px;
  padding: 20px;

  @include font();
  line-height: 150%; /* 24px */
  color: var(--text-dark);
  text-align: center;
  background: var(--color-light);
  border-radius: 100px;
}
