/* Favorite coffee */
.favorite-coffee {
  &__container {
    @include flex(40px, column);
  }
}

.slider {
  @include flex(40px);

  flex-wrap: wrap;
  align-items: center;
  padding: 0 4px;

  &__btn {
    @include round-btn(--border-dark);
    flex-shrink: 1;
  }

  &__prev-btn {
    order: -1;
    transform: rotate(180deg);
  }

  &__pagination {
    @include flex(12px);

    flex: 0 0 100%;
    justify-content: center;

    &-bullet {
      width: 40px;
      height: 4px;
      background: var(--border-light);
      border-radius: 100px;

      /* stylelint-disable-next-line max-nesting-depth */
      &--active {
        background: var(--border-dark);
      }
    }
  }
}

.slides-block {
  flex-basis: 80%;
  flex-grow: 1;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  flex-basis: 100%;
  flex-shrink: 0;
}

.product-card {
  max-width: 480px;
  margin: 0 auto;

  &__img {
    margin-bottom: 20px;
  }

  &__text {
    @include flex(16px, column);

    align-items: center;
    text-align: center;
  }
}
