/* Footer */
.footer {
  margin: auto 0 40px;

  &__content {
    @include flex(100px);

    align-items: center;
    padding: 100px;
    background: var(--color-dark);
    border-radius: 40px;

    @include size-tablet {
      flex-direction: column;
      align-items: start;
      padding: 100px 60px;
    }

    @include size-mobile {
      gap: 40px;
      padding: 60px 16px;
    }

    & > * {
      flex: 0 1 100%;
    }
  }

  &__block {
    @include flex(40px, column);
  }

  &__title {
    color: var(--text-light);
    text-align: left;

    @include size-tablet {
      max-width: 568px;
    }

    @include size-mobile {
      max-width: 316px;
    }
  }
}

.social-links {
  @include flex(12px);

  &__link {
    @include round-btn(--border-light);

    color: var(--text-light);

    @include hovered-devices {
      transition: background 0.5s ease-out, color 0.5s ease-out, border-color 0.5s ease-out;

      &:hover {
        color: var(--text-dark);
        background: var(--text-light);
        border-color: var(--text-light);
      }
    }
  }
}

.contacts {
  &__heading {
    color: var(--text-light);
  }

  &__list {
    @include flex(16px, column);

    align-items: start;
  }

  &__link {
    @include flex(8px);

    margin-bottom: 4px;
    color: var(--text-light);
  }
}
