/* Header */
.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

    @include size-mobile {
      padding: 20px 16px;
    }
  }

  &__homelink {
    color: var(--text-dark);
  }

  &__logo {
    display: block;
  }

  &__nav {
    display: flex;
    flex-basis: 100%;
    align-items: center;

    @include size-hide-elements {
      display: none;
    }

    &-menu {
      @include flex(40px);

      margin: 0 auto;
    }

    &-link {
      margin-bottom: 4px;
    }
  }

  &__page-link {
    @include flex(8px);

    margin-bottom: 4px;
    user-select: none;
  }

  &__burger-btn {
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--text-dark);
    border: 1px solid var(--border-dark);
    border-radius: 100px;

    @include size-hide-elements {
      display: flex;
    }

    @include hovered-devices {
      cursor: pointer;
      transition: background 0.5s ease-out, color 0.5s ease-out;

      &:hover {
        color: var(--text-light);
        background: var(--border-dark);
      }
    }

    &::before,
    &::after {
      width: 16px;
      height: 1.4px;
      content: "";
      background: currentColor;
      border-radius: 10px;
    }
  }
}

