/* Header */
.header {
  &__container {
    display: flex;
    align-items: center;
    padding: 20px 40px;
  }

  &__homelink {
    color: var(--text-dark);
  }

  &__logo {
    display: block;
  }

  &__nav {
    display: flex;
    flex-basis: 100%;
    align-items: center;

    &-menu {
      @include flex(40px);

      margin: 0 auto;
    }

    &-link {
      margin-bottom: 4px;
    }
  }

  &__page-link {
    @include flex(8px);

    margin-bottom: 4px;
    user-select: none;
  }
}
