// stylelint-disable max-nesting-depth
/* Menu */
.header__page-link {
  position: relative;
  display: flex;

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: currentColor;
  }
}

.menu {
  $radius: 40px;

  &__container {
    @include flex(40px, column);
    align-items: center;
  }

  &__title {
    max-width: 800px;
    text-align: center;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    grid-auto-flow: row;
    gap: 40px;
    justify-content: center;
    width: 100%;
  }

  &-product {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    min-height: 506px;
    border: 1px solid var(--border-light);
    border-radius: $radius;

    &:nth-child(n+5) {
      @include size-hide-elements {
        display: none;
      }
    }

    &__image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 660px;
      overflow: hidden;
      border-radius: $radius;
    }

    &__image {
      border-radius: $radius;
      transition: transform 0.5s ease-out;
      transform: scale(1.1);
    }

    &:hover {
      @include hovered-devices {
        cursor: pointer;

        & img {
          transform: scale(1);
        }
      }
    }

    &__text {
      @include flex(12px, column);
      flex-grow: 1;

      align-items: start;
      padding: 20px;
    }

    &__price {
      margin-top: auto;
    }
  }

  &__add-btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: var(--text-dark);
    border: 1px solid var(--border-dark);
    border-radius: 100px;

    @include size-hide-elements {
      display: flex;
    }

    @include hovered-devices {
      cursor: pointer;
      transition: background 0.5s ease-out, color 0.5s ease-out;

      &:hover {
        color: var(--text-light);
        background: var(--border-dark);
      }
    }
  }
}

.tabs {
  @mixin tab_btn-anim {
    color: var(--text-light);
    background: var(--border-dark);
    border: 1px solid var(--border-dark);

    &::before {
      background: var(--text-light);
    }
  }

  &__buttons {
    @include flex(16px);

    @include size-mobile {
      gap: 8px;
    }
  }

  &__item {
    &:first-child {
      --icon-url: url("../assets/img/menu/coffee.svg");
    }

    &:nth-child(2) {
      --icon-url: url("../assets/img/menu/tea.svg");
    }

    &:last-child {
      --icon-url: url("../assets/img/menu/cake.svg");
    }

    & label {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 7px 15px 7px 7px;
      user-select: none;
      border: 1px solid var(--border-light);
      border-radius: 100px;

      @include hovered-devices {
        transition: color 0.5s ease-out, border 0.5s ease-out, background 0.5s ease-out;

        &:hover {
          @include tab_btn-anim;

          cursor: pointer;
        }
      }

      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        line-height: 0;
        content: var(--icon-url);
        background: var(--border-light);
        border-radius: 100px;
        transition: background 0.5s ease-out;
      }
    }
  }

  &__btn {
    &:checked + label {
      @include tab_btn-anim;

      pointer-events: none;
    }
  }
}
