@mixin hovered-devices {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin touch-devices {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin size-mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin size-hide-elements {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin size-tablet {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin font($size: 16px, $lh:100%, $weight: 600, $style: normal) {
  font-family: var(--font);
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  font-feature-settings: "clig" off, "liga" off;
  line-height: $lh;
}

@mixin flex ($gap: null, $dir: row ) {
  display: flex;
  flex-direction: $dir;

  @if $gap {
    gap: $gap;
  }
}

@mixin round-btn($brd-color) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var($brd-color);
  border-radius: 100px;
}
