/* Mobile App */
.mobile-app {
  &__container {
    @include flex(100px);

    align-items: center;

    & > * {
      flex: 0 1 100%;
    }
  }

  &__text-block {
    @include flex(40px, column);
  }

  &__title {
    text-align: left;
  }

  &__link-buttons {
    @include flex(20px);
  }

  &__link-btn {
    @include flex(8px);

    align-items: center;
    padding: 11px 19px;
    border: 1px solid var(--border-dark);
  }

  &__btn-text {
    @include flex(2px, column);

    text-align-last: left;

    & span:first-child {
      font-size: 10px;
      line-height: 140%; /* 14px */
      color: var(--text-dark);
    }
  }
}
