// stylelint-disable max-nesting-depth
/* Modals */
.modal-product {
  position: fixed;
  inset: 0;
  width: 100%;
  padding: 0 40px;
  background: none;
  border: none;

  @include size-mobile-modal {
    max-width: 380px;
    padding: 0 19px;
  }

  &::backdrop {
    background: var(--backdrop);
  }

  &__container {
    @include flex(20px);
    align-items: start;
    width: 100%;
    max-width: 800px;
    padding: 16px;
    margin: auto;
    background-color: var(--color-light);
    border-radius: 40px;

    @include size-hide-elements {
      max-width: 688px;
    }
  }

  &__product {
    @include flex(20px, column);
  }

  &__image-wrapper {
    flex-shrink: 0;

    @include size-mobile-modal {
      display: none;
    }
  }

  &__image {
    height: auto;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__fields-name {
    margin-bottom: 8px;
  }

  &__buttons {
    @include flex(8px);
    flex-wrap: wrap;
  }

  &__size-item {
    &:first-child {
      --content: "S";
    }

    &:nth-child(2) {
      --content: "M";
    }

    &:last-child {
      --content: "L";
    }
  }

  &__additives-item {
    &:first-child {
      --content: "1";
    }

    &:nth-child(2) {
      --content: "2";

      & label {
        @include size-hide-elements {
          margin-right: 10px;
        }
      }
    }

    &:last-child {
      --content: "3";
    }
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__alert {
    padding: 11px 0 12px;
    border-top: 1px solid var(--border-light);

    @include flex (8px);

    &::before {
      width: 16px;
      height: 16px;
      content: url("../assets/img/menu/alert.svg");
    }
  }

  &__button {
    cursor: pointer;
    transition: background 0.5s ease-out, color 0.5s ease-out;

    @include hovered-devices {
      &:hover {
        color: var(--text-light);
        background: var(--color-dark);
      }
    }
  }
}
