/* SVG */
.svg-symbols {
  display: none;
}

.path {
  &--fill-accent {
    fill: var(--text-accent);
  }

  &--fill-dark {
    fill: var(--text-dark);
  }

  &--stroke-dark {
    stroke: var(--text-dark);
  }
}

.arrow-icon-path {
  stroke: var(--text-dark);
}
