/* SVG */
.svg-symbols {
  display: none;
}

.path {
  &--fill {
    fill: currentColor;
  }

  &--fill-accent {
    fill: var(--text-accent);
  }

  &--stroke {
    stroke: currentColor;
  }
}

.arrow-icon-path {
  stroke: currentColor;
}
