/* Typography */
.heading-1 {
  @include font(72px, 76px);

  @include size-mobile {
    font-size: 42px;
    line-height: 48px;
  }
}

.heading-2 {
  @include font(60px, 125%);

  @include size-mobile {
    font-size: 32px;
  }
}

.heading-3 {
  @include font(24px, 125%);
}

.regular-text,
%regular-text {
  @include font(16px, 150%, 400);
}

.caption-text {
  @include font(10px, 140%);
}

.link-button-text {
  @include font(16px, 150%);
}

.burger-link-text {
  @include font(32px, 125%);
}
