* {
  box-sizing: inherit;
  --t1: 0.05s;
  --t2: 0.5s;
  transition: color var(--t1), background-color var(--t2), border-color var(--t2), backdrop-filter var(--t2);
}

body {
  box-sizing: border-box;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: var(--text-color);
  background: url("../img/bg.jpg") center / cover no-repeat;
  background-blend-mode: hard-light;
  backdrop-filter: var(--filter);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main {
  display: grid;
  grid-template-areas:
    "header"
    "control"
    "select"
    "game";
  grid-template-columns: auto;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  width: 80%;
  max-width: 1440px;
  padding: 20px 0;
  margin: auto;
}

.header {
  display: flex;
  grid-area: header;
  gap: 20px;
  align-items: center;

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-shadow:
      -1px -1px 0 var(--text-shadow),
      0   -1px 0 var(--text-shadow),
      1px -1px 0 var(--text-shadow),
      1px  0   0 var(--text-shadow),
      1px  1px 0 var(--text-shadow),
      0    1px 0 var(--text-shadow),
      -1px  1px 0 var(--text-shadow),
      -1px  0   0 var(--text-shadow);
  }
}
