.dropdown-btn {
  position: relative;
  width: 100px;

  &__btn {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__list {
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: var(--button-background);
    border-radius: 4px;
    opacity: 0;
    transition: all 0.5s;
    transform: scaleY(0%);
    transform-origin: top;


    &_open {
      opacity: 1;
      transform: scaleY(100%);
    }
  }

  &__item {
    padding: 4px;
    user-select: none;

    @include hovered-devices {
      cursor: pointer;

      &:hover {
        color: var(--text-shadow);
        background-color: var(--button-border-color);
        border-color: var(--button-background);
      }
    }
  }
}

