.game {
  &__container {
    display: grid;
    grid-template-areas:
      "......... topHints"
      "leftHints field";
    grid-template-columns: repeat(2, auto);
    width: fit-content;
  }

  &__field {
    grid-area: field;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    border: 2px solid gray;
    /* width: fit-content; */
  }
}

.cells-wrapper {
  /* display: contents; */
  display: flex;
  flex-direction: row;
}

.hints {

  display: flex;
  flex-direction: column;

  /* width: fit-content; */
  padding: 0;
  border: 2px solid gray;

  &_horizontal {
    grid-area: leftHints;
  }

  &_vertical {
    flex-direction: row;
    grid-area: topHints;
    // width: fit-content;

    & .cells-wrapper {
      flex-direction: column;
    }
  }
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  user-select: none;
  background: #aba9e4;
  border: 1px solid gray;

  &[data-view="fill"] {
    background: black;
  }

  &[data-view="cross"] {
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 2px;
      content: "";
      background: black;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.cell:nth-child(5n):not(:last-child) {
  border-right: 3px solid gray;
}

.game__field,
.hints_horizontal {
  & .cells-wrapper:nth-child(5n):not(:last-child) .cell {
    border-bottom: 3px solid gray;
  }
}

.hints_vertical .cells-wrapper:nth-child(5n):not(:last-child) .cell {
  border-right: 3px solid gray;
}
