:root {
  --background-color: #94d8b7;
  --text-color: #264136;
  --text-shadow: #94d8b7;
  --field-color: #76bb9b;
  --hints-color: #76bb9b;
  --cell-border-color: #487b65;
  --field-border-color: #94d8b7;
  --fill-color: #487b65;
  --cross-color: #487b65;
  --filter: hue-rotate(-35deg) blur(4px);
  --button-background: #d4f6e5;
  --button-border-color: #264136;
}

[data-theme="dark"] {
  --background-color: #22383a;
  --text-color: #94d8b7;
  --text-shadow: #264136;
  --field-color: #264136;
  --hints-color: #264136;
  --cell-border-color: #76bb9b;
  --field-border-color: #94d8b7;
  --fill-color: #76bb9b;
  --cross-color: #76bb9b;
  --filter: hue-rotate(-35deg) blur(4px) brightness(0.3);
  --button-background: #264136;
  --button-border-color: #d4f6e5;
}
